<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./head.ejs') %>
    <title>NaijaDailyBuzz - HOME</title>
  </head>
  <body>
    <header>
        <%- include('./header.ejs') %>
    </header>
    <h2 class="center">404</h2>
    <footer>
        <%- include('./footer.ejs') %>
    </footer>
  </body>
</html>
