<div>
  <ul class="navigation">
    <li>
      <h1><a href="/" class="link logo">NaijaDailyBuzz</a></h1>
    </li>
    <li><a href="#subscribe" class="button subscribe">Subscribe</a></li>
  </ul>
</div>
