<div class="center border-thin-black subscribe-form" id="subscribe">
    <p>Join thousands to receive daily news updates.</p>
    <br>
    <form action="/subscribe" method="post" class="flex-row">
        <label for="email"></label>
        <input type="email" name="email" required class="input input-text">
        <input type="submit" value="Subscribe" class="input button subscribe">
    </form>
</div>